@model KatalogGier.Models.AddRecenzjeModel
@{
    ViewBag.Title = "About";
}

@if (Model.Gra != null)
{
    var imgPath = "/Content/Images/";
    <div class="row">
        @if (Model.Gra.Zdjecie != null)
        {
            var path = imgPath + Model.Gra.Zdjecie;
            <img src="@path" style="float:left; margin: 10px;" />
        }
        else
        {
            var path = imgPath + "Empty.jpg";
            <img src="path" style="float:left; margin: 10px;" />
        }

        <p>
            <div style="background-color:lavender">
                 <h2><b> @Model.Gra.Tytul</b> </h2>
            </div>
        </p>
        @if (Model.Gra.Platforma != null)
        {
            <div>
                Platforma:
                @foreach (var g in Model.Gra.Platforma)
                {
                    <text>@g ,</text>
                }
            </div>
        }
        @if (Model.Gra.Gatunek != null)
        {
            <div>
                Gatunek:
                @foreach (var g in Model.Gra.Gatunek)
                {
                    <text>@g ,</text>
                }
            </div>
        }
        Producent: @Model.Gra.Producent <br />
        Wydawca: @Model.Gra.Wydawca <br />
        Data premiery: @Model.Gra.Data_premiery <br />
    </div>

    <p>
        <div style="background-color:lavender">
            <h3>Recenzje</h3>
        </div>
    </p>

    if (Model.Gra.Recenzje == null)
    {
        <div style="align-content:center">Brak recenzji do tej gry</div>
    }
    else
    {
        foreach(var r in Model.Gra.Recenzje)
        {
            <div class="row; container">
                
                    @if (r.Nazwa_uzytkownika == null)
                    {
                    <b>Nazwa użytkownika: </b> <text>Anonimowy</text> <br/>
                    }
                    else
                    {
                        <b>Nazwa użytkownika: </b> @r.Nazwa_uzytkownika    <br />
                    }
                    <b>Datw wstawienia: </b>   @r.Data_wstawienia      <br />
                    <b>Ocena: </b>
                        @for (var i = 0; i < 10; i++)
                        {
                            if (i < r.Ocena)
                            {
                                <img src="/Content/Images/star_full.png"/>
                            }
                            else
                            {
                                <img src="/Content/Images/star_empty.png" />
                            }
                        }
                       <br />
                    <div style="background-color:lavender">
                    <b>Tresc: </b> <br /> @r.Tresc    <br />
                    </div>
                        
                    </div>

            <hr/>
        }
    }


    <h2>Dodaj własną recenzję</h2>

    <div class="container">
        @using (Html.BeginForm("About","Home",new { id = ViewData.Model.Gra.ID },FormMethod.Post))
        {

            @Html.ValidationSummary(true)
            <fieldset>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Nazwa_uzytkownika, new { @class = "control-label" })
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Recenzja.Nazwa_uzytkownika, new { autofocus = "autofocus", @class = "form-control"})
                </div>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Ocena, new { @class = "control-label" ,required="required"})
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Recenzja.Ocena, new { type = "number", min = "1", max = "10", step = "1", @class = "form-control" })
                </div>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Tresc, new { @class = "control-label" })
                </div>
                <div>
                    @Html.TextAreaFor(model => model.Recenzja.Tresc, new { @class = "form-control",required="required"})
                </div>

                <input type="submit" value="Dodaj" class="btn" />
            </fieldset>
        }
    </div>
}
else
{
    <text>Coś chyba poszło nie tak. :(</text>
}

