@model KatalogGier.Models.Gra
@{
    ViewBag.Title = "About";
}

@if (Model != null)
{
    <div class="row">
        @if (Model.Zdjecie != null)
                {
            <img src="@Model.Zdjecie" style="float:left; margin: 10px;" />
        }
        else
        {
            <img src="/Content/Images/Empty.jpg" style="float:left; margin: 10px;" />
        }

        <p>
            <div style="background-color:lavender">
                 <h2><b> @Model.Tytul</b> </h2>
            </div>
        </p>
        @if (Model.Platforma != null)
        {
            <div>
                <b>Platforma: </b>
                @foreach (var g in Model.Platforma)
                {
                    <text>@g ,</text>
                }
            </div>
        }
        @if (Model.Gatunek != null)
        {
            <div>
                <b>Gatunek: </b>
                @foreach (var g in Model.Gatunek)
                {
                    <text>@g ,</text>
                }
            </div>
        }
        <b>Producent: </b> @Model.Producent <br />
        <b>Wydawca: </b> @Model.Wydawca <br />
        <b>premiery: </b> @Model.Data_premiery <br />
    </div>

    <p>
        <div style="background-color:lavender">
            <h2><b>Recenzje</b></h2>
        </div>
    </p>

    if (Model.Recenzje == null)
    {
        <div style="align-content:center">Brak recenzji do tej gry</div>
    }
    else
    {
        foreach(var r in Model.Recenzje)
        {
            <div class="row; container">
                
                    @if (r.Nazwa_uzytkownika == null)
                    { 
                    <b>Nazwa użytkownika: </b> <text>ANNYNOMAUS</text> <br/>
                    <b>Datw wstawienia: </b>   @r.Data_wstawienia      <br />
                    <font color="red"><b>Ocena:  @r.Ocena    </b></font><br />
                    <div style="background-color:lavender">
                    <b>Tresc: </b> <br /> @r.Tresc    <br />
                    </div>
                        }
                        else
                        {
                        <b>Nazwa użytkownika: </b> @r.Nazwa_uzytkownika    <br />
                        <b>Datw wstawienia: </b>   @r.Data_wstawienia      <br />
                        <font color="red"><b>Ocena:  @r.Ocena    </b></font><br />
                        <div style="background-color:lavender">
                            <b>Tresc: </b> <br /> @r.Tresc    <br />
                        </div>
                        }
                    </div>

            <hr/>
        }
    }
}
else
{
    <text>Coś chyba poszło nie tak. :(</text>
}

