@model KatalogGier.Models.AddRecenzjeModel
@{
    ViewBag.Title = "About";
}

@if (Model.Gra != null)
{
    <div class="row">
        @if (Model.Gra.Zdjecie != null)
        {
            <img src="@Model.Gra.Zdjecie" style="float:left; margin: 10px;" />
        }
        else
        {
            <img src="/Content/Images/Empty.jpg" style="float:left; margin: 10px;" />
        }

        <p>
            <div style="background-color:lavender">
                <h2>@Html.ActionLink(Model.Gra.Tytul, "About", "Home", new { Id = Model.Gra.ID }, new { @style = "color: black;" })</h2>
            </div>
        </p>
        @if (Model.Gra.Platforma != null)
        {
            <div>
                Platforma:
                @foreach (var g in Model.Gra.Platforma)
                {
                    <text>@g ,</text>
                }
            </div>
        }
        @if (Model.Gra.Gatunek != null)
        {
            <div>
                Gatunek:
                @foreach (var g in Model.Gra.Gatunek)
                {
                    <text>@g ,</text>
                }
            </div>
        }
        Producent: @Model.Gra.Producent <br />
        Wydawca: @Model.Gra.Wydawca <br />
        Data premiery: @Model.Gra.Data_premiery <br />
    </div>

    <p>
        <div style="background-color:lavender">
            <h3>Recenzje</h3>
        </div>
    </p>

    if (Model.Gra.Recenzje == null)
    {
        <div style="align-content:center">Brak recenzji do tej gry</div>
    }
    else
    {
        foreach(var r in Model.Gra.Recenzje)
        {
            <div class="row; container">
                Nazwa użytkownika:  @r.Nazwa_uzytkownika    <br/>
                Datw wstawienia:    @r.Data_wstawienia      <br/>
                Ocena:  @r.Ocena    <br/>
                Tresc:  @r.Tresc    <br/>
            </div>

            <hr/>
        }
    }


    <h2>Dodaj własną recenzję</h2>

    <div>
        @using (Html.BeginForm("About","Home",FormMethod.Post,new { addRecenzjeModel = Model }))
        {

            @Html.ValidationSummary(true)
            <fieldset>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Nazwa_uzytkownika, new { @class = "control-label" })
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Recenzja.Nazwa_uzytkownika, new { autofocus = "autofocus", @class = "form-control"})
                </div>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Data_wstawienia, new { @class = "control-label" })
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Recenzja.Data_wstawienia, "{ dd/MM/yyyy }", new { @class = "form-control", data_mask = "date" })
                    @Html.ValidationMessageFor(model => model.Recenzja.Data_wstawienia)
                </div>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Ocena, new { @class = "control-label" })
                </div>
                <div>
                    @Html.TextBoxFor(model => model.Recenzja.Ocena, new { type = "number", min = "1", max = "10", step = "1", @class = "form-control" })
                </div>
                <div>
                    @Html.LabelFor(model => model.Recenzja.Tresc, new { @class = "control-label" })
                </div>
                <div>
                    @Html.TextAreaFor(model => model.Recenzja.Tresc, new { @class = "form-control" })
                </div>

                <input type="submit" value="Dodaj" class="btn" />
            </fieldset>
        }
    </div>
}
else
{
    <text>Coś chyba poszło nie tak. :(</text>
}

