@model IEnumerable<KatalogGier.Models.Gra>
@{
    ViewBag.Title = "Home Page";
}
<br />

@{
    var param = Request.Params["text"];
    if (param == null || param == "")
    {
        var srednieOceny = new double[Model.Count()];
        var topOceny = new double[3];
        var topPozycje = new int[3];
        for (var i = 0; i < Model.Count(); i++)
        {
            var count = 0;
            var sum = 0;

            if (Model.ElementAt(i).Recenzje != null)
            {
                foreach (var recenzyja in Model.ElementAt(i).Recenzje)
                {
                    count++;
                    sum += recenzyja.Ocena;
                }
                srednieOceny[i] = (double) sum / count;
            }
            else
            {
                srednieOceny[i] = 0.0;
            }
        }
        
        topOceny = srednieOceny.OrderByDescending(i1 => i1).Take(3).ToArray();

        for (var j = 0; j < srednieOceny.Length; j++)
        {
            var count = 0;
            foreach (int o in topOceny)
            {
                if (srednieOceny[j] == o)
                {
                    if (count==0)
                    {
                        topPozycje[0] = j;
                    }
                    else if (topPozycje[1] == 0 && count>0)
                    {
                        topPozycje[1] = j;
                    }
                    else if(topPozycje[2] == 0 && count>0)
                    {
                        topPozycje[2] = j;
                    }
                }
                count++;
            }
        }

        <h1><b>TOP 3 GRY</b></h1>

        <div class="row">
            
            
            @foreach (int k in topPozycje)
            {
                var imgPath = "/Content/Images/";
                var g = Model.ElementAt(k);

                <div class="col-md-4 col-centered">
                    
                        @if (g.Zdjecie != null)
                        {
                            var path = imgPath + g.Zdjecie;
                            <img src="@path"/>
                        }
                        else
                        {
                            
                            var empty = "Empty.jpg";
                            var path = imgPath + empty;
                            <img src="@path" />
                        }
                        <br/>
                    <h2 style="text-align:center">@Html.ActionLink(g.Tytul, "About", "Home", new { Id = g.ID }, new { @style = "color: black; " })</h2>
                    
                </div>
            }
        </div>
        <hr/>
    }


}
<h2>Lista gier</h2>
<hr/>
<div class="container">
    @if(Model != null)
    {
        var imgPath = "/Content/Images/";
        foreach (var gra in Model)
        {
            <div class="row">
                @if (gra.Zdjecie != null)
                {
                    var path = imgPath + gra.Zdjecie;
                    <img src="@path" style="float:left; margin: 10px;" />
                }
                else
                {
                    var empty = "Empty.jpg";
                    var path = imgPath + empty;
                    <img src="@path" style="float:left; margin: 10px;" />
                }

                <p>
                        <div style="background-color:lavender">
                            <h2>@Html.ActionLink(gra.Tytul, "About", "Home", new { Id = gra.ID }, new { @style = "color: black;" } )</h2>
                        </div>
                </p>
                @if (gra.Platforma != null)
                    {
                    <div><b> Platforma: </b>
                        @foreach (var g in gra.Platforma)
                        {
                            <text>@g ,</text>
                        }
                    </div>
                }
                @if (gra.Gatunek != null)
                    {
                    <div><b> Gatunek: </b>
                        @foreach (var g in gra.Gatunek)
                        {
                            <text>@g ,</text>
                        }
                    </div>
                }

                <b> Producent: </b> @gra.Producent <br />
                <b>Wydawca:</b> @gra.Wydawca <br />
                <b>Data premiery:</b> @gra.Data_premiery <br/>
                @if(gra.Recenzje != null)
                {
                    <text><b>Ilosc recenzji: @gra.Recenzje.Count </b></text>
                }
                else{ 
                    <text><b>Ilosc recenzji: 0</b></text>
}
            </div>

            <hr/>
        }
    }
</div>






