@model IEnumerable<KatalogGier.Models.Gra>
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="container">
    @if(Model != null)
    {
        foreach (var gra in Model)
        {
            <div class="row">
                @if (gra.Zdjecie != null)
                {
                    <img src="@gra.Zdjecie" style="float:left; margin: 10px;" />
                }
                else
                {
                    <img src="/Content/Images/Black.jpg" width="300" style="float:left; margin: 10px;" />
                }

                <p>

                        <div style="background-color:lavender">
                            <h2><font color="black">@Html.ActionLink( gra.Tytul,"Recenzje","Home", new { @style = "color:black;" }) </font></h2>
                        </div>
                </p>
                @if (gra.Platforma != null)
                    {
                    <div>Platforma:
                        @foreach (var g in gra.Platforma)
                        {
                            <text>@g ,</text>
                        }
                    </div>
                }
                @if (gra.Gatunek != null)
                    {
                    <div>Gatunek:
                        @foreach (var g in gra.Gatunek)
                        {
                            <text>@g ,</text>
                        }
                    </div>
                }
                Producent: @gra.Producent <br />
                Wydawca: @gra.Wydawca <br />
                Data premiery: @gra.Data_premiery <br/>
            </div>
        }
    }
</div>






