@model IEnumerable<KatalogGier.Models.Gra>
@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="container">
    @if(Model != null)
    {
        foreach (var gra in Model)
        {
            <div class="row">
                @if (gra.Zdjecie != null)
                {
                    <img src="@gra.Zdjecie" style="float:left; margin: 10px;" />
                }
                else
                {
                    <img src="/Content/Images/Empty.jpg" style="float:left; margin: 10px;" />
                }

                <p>
                        <div style="background-color:lavender">
                            <h2>@Html.ActionLink(gra.Tytul, "About", "Home", new { Id = gra.ID }, new { @style = "color: black;" } )</h2>
                        </div>
                </p>
                @if (gra.Platforma != null)
                    {
                    <div><b> Platforma: </b>
                        @foreach (var g in gra.Platforma)
                        {
                            <text>@g ,</text>
                        }
                    </div>
                }
                @if (gra.Gatunek != null)
                    {
                    <div><b> Gatunek: </b>
                        @foreach (var g in gra.Gatunek)
                        {
                            <text>@g ,</text>
                        }
                    </div>
                }

                <b> Producent: </b> @gra.Producent <br />
                <b>Wydawca:</b> @gra.Wydawca <br />
                <b>Data premiery:</b> @gra.Data_premiery <br/>
                @if(gra.Recenzje != null)
                {
                    <text><b>Ilosc recenzji:@gra.Recenzje.Count </b></text>
                }
                else{ 
                    <text>Ilosc recenzji: 0</text>
                }
            </div>

            <hr/>
        }
    }
</div>






